<!DOCTYPE html>
<html>
<head>
	<!-- working...success...
	its a calculator
	it can add,subtract,multiply,divide.. -->
	<title>angular</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<h2>welcome to calculator....</h2>
<div ng-app="">
	<p>ADD</p><br>
	enter a number:<input type="number" ng-model="add1">
	enter a number:<input type="number" ng-model="add2"><br>
	<p>ADDITION= {{add1+add2}}</p><br>

	<p>SUBTRACT</p><br>
	enter a number:<input type="number" ng-model="sub1">
	enter a number:<input type="number" ng-model="sub2"><br>
	<p>SUBTRACTION= {{sub1-sub2}}</p><br>

	<p>MULTIPLY</p><br>
	enter a number:<input type="number" ng-model="mul1">
	enter a number:<input type="number" ng-model="mul2"><br>
	<p>MULTIPLICATION= {{mul1*mul2}}</p><br>

	<p>DIVIDE</p><br>
	enter a number:<input type="number" ng-model="divi1">
	enter a number:<input type="number" ng-model="divi2"><br>
	<p>DIVISION= {{divi1/divi2}}</p><br>
</div>
</body>
</html>